.form-con {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

label {
  padding-right: 10px;
}

.input {
  padding: 10px;
  color: white;
}

.update {
  width: 150px;
  margin-top: 10px;
}
